MONGODB_URI=mongodb+srv://irris:irris@reminderdb.yhiiqvg.mongodb.net/?retryWrites=true&w=majority&appName=reminderdb
DB_NAME=reminderdb
# Data service uses the 'data' collection
JWT_SECRET=jwtsecret_2b1e7c8e4f9a4d7b8c6e5f3a2d1c0b9a7e6d5c4b3a2f1e0d9c8b7a6f5e4d3c2
JWT_ALGORITHM=HS256
